---
import Layout from '../layouts/Layout.astro'
---
<Layout>
    <main class="bg-black text-white w-screen h-screen flex justify-center items-center bg-[url('/images/legions/empire.webp')] bg-cover bg-center relative group">
        <!-- Capa de superposición con efecto de desvanecimiento -->
        <div class="absolute inset-0 bg-black opacity-50 transition-opacity duration-500 group-hover:opacity-0"></div>
        
        <!-- Texto principal -->
        <h1 class="text-4xl relative z-10">Hello, Astro!</h1>

    </main>
</Layout>
