---
import Layout from '../layouts/Layout.astro'
---
<Layout>


    <main class="bg-black text-white w-screen h-screen flex justify-center items-center">
        <h1 class="text-4xl">Hello, Astro!</h1>
        <img src="images/legions/empire.webp" alt="empire" width="1200" height="333">


    </main>

</Layout>