---
import Layout from '../layouts/Layout.astro'
---
<Layout>
    <main class="bg-black text-white w-screen h-screen flex justify-center items-center bg-[url('/images/legions/empire.webp')] bg-contain bg-center bg-no-repeat relative">
        <div class="absolute inset-0 bg-black opacity-50"></div>
        
    </main>
  
</Layout>