---

const { image, legion } = Astro.props
---

<div class={`bg-${legion}-900 rounded-lg p-4 text-white transition-transform duration-900 hover:scale-[1.2]`}>
    <img src={image}
        alt={`Legión ${legion}`}
        class="h-[300px] w-auto object-contain "> 

</div>