---
const { image, legion } = Astro.props;

// Imagen y clase predeterminadas si no se define "legion"
const defaultImage = "images/bg-chaos.jpg";
const defaultClass = "bg-gray-900";
const displayImage = image ? image : defaultImage;
const displayClass = image ? `bg-${legion}-900` : defaultClass;
---

<div 
    class={`${displayClass} rounded-lg p-2 text-white transition-transform duration-900 hover:scale-[1.1] flex items-center justify-center h-[250px] max-h-full max-w-full brightness-80  hover:brightness-110 hover:saturate-120`}
>
    <img 
        src={displayImage}
        alt={legion ? `Legión ${legion}` : "Legión desconocida"}
        class={`h-full w-full object-cover rounded-md ${image ? '' : 'opacity-20 hover:opacity-70'}` }
    > 
</div>

