---
import Boton from "./Boton.astro"

console.log('javascript')

const { children } = Astro.props
---

<div id="flex w-full justify-center">
	<h1 class="text-2xl text-center">Qué pasa mufasaaaaa</h1>
	
	{children}
</div>
